<form>
    <label for="nombres">Nombres:</label>
    <input id="nombres" type="text">

    <label for="apellidos">Apellidos:</label>
    <input id="apellidos" type="text">

    <label for="correo">Correo Electronico:</label>
    <input id="correo" type="text">

    <label for="tipoIdentificacion">Tipo de Identificación</label>
    <select id="tipoIdentificacion">
        <td>Cedula de Ciudadania</td>
        <td>Cedula de Extranjeria</td>
        <td>Tarjeta de Identidad</td>
        <td>Pasaporte</td>
    </select>

    <label for="identificacion">Identificación</label>
    <input id="identificacion" type="text">

    <label for="celular">Telefono Celular:</label>
    <input id="celular" type="text">

    <label for="idFacultad">Id Facultad:</label>
    <input id="idFacultad" type="number">

    <label for="idPrograma">Id Programa:</label>
    <input id="idPrograma" type="number">

    <label for="idSede">Id Sede:</label>
    <input id="idSede" type="number">

    <label for=fechaRegistro>Fecha de Registro:</label>
    <input id="fechaRegistro" type="date">

    <div class="buttons">
        <button id="guardar">Guardar</button>
        <button id="cancelar">Cancelar</button>
    </div>
</form>